# Python
__pycache__/
*.py[cod]
venv/
.env

# Node/Next.js
node_modules/
.next/

# VSCode
.vscode/

# Ignore Word documents
*.doc
*.docx

# Vector store binaries
vector_store/
vector_store/*.faiss
vector_store/*.json
backend/.env
vector_store/*.faiss
vector_store/*.json
